$sm-down: 575px;
$sm-up: 576px;
$md-down: 767px;
$md-up: 768px;
$lg-down: 991px;
$lg-up: 992px;
$xl-down: 1199px;
$xl-up: 1200px;
$xxl-down: 1599px;
$xxl-up: 1600px;
$xxxl-down: 2500px;
$xxxl-up: 2500px;
$tv4k-down: 3500px;
$tv4k-up: 3500px;